/%form{class: "form-sign"}
/  %h2.form-sign-heading= t "Please Sign In"
/  %h3#error_explanation {{signin_error}}
/  = email_field_tag :email, params[:email], class: "form-control", placeholder: t("Email address"), required: "true", autofocus: "true", 'ng-model' => "credentials.email"
/  = password_field_tag :password, params[:password], class: "form-control", placeholder: t("password"), required: "true", 'ng-model' => "credentials.password"
/  %button{class: "btn btn-lg btn-primary btn-block", 'ng-click' => 'signin(credentials)'}
/    = t('Signin')

