// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign{
  position:fixed;
  left: 0;
  right: 0;
}
.form-sign {
  border: 1px solid;
  border-radius: 25px;
	width: 300px;
  padding: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
	background-color: lightgreen;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-sign input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-sign input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
